section.brands 
  .container 
    .brands-wrap
      .brands-caption Trusted by comtpanies like
      ul.brands-list 
        li.brand-item
          img(data-core-lazy data-src=require('../../assets/images/brand1.png') src="", alt="brand")
        li.brand-item
          img(data-core-lazy data-src=require('../../assets/images/brand2.png') src="", alt="brand")
        li.brand-item
          img(data-core-lazy data-src=require('../../assets/images/brand3.png') src="", alt="brand")
        li.brand-item
          img(data-core-lazy data-src=require('../../assets/images/brand4.png') src="", alt="brand")
        li.brand-item
          img(data-core-lazy data-src=require('../../assets/images/brand5.png') src="", alt="brand")