section.built 
  .container 
    .built-wrap 
      .built-content 
        .built-heading 
          h3 Ultimate features that we built
          p The rise of mobile devices transforms the way we consume information entirely.
        ul.built-list 
          li.built-item 
            .built-item-img 
              img(data-core-lazy data-src=require('../../assets/images/feature1.jpg') src="", alt="item")
            .built-item-content 
              h4 App Development
              p Get your blood tests delivered at home collect a sample from the news your blood tests.
          li.built-item 
            .built-item-img 
              img(data-core-lazy data-src=require('../../assets/images/feature1.jpg') src="", alt="item")
            .built-item-content 
              h4 App Development
              p Get your blood tests delivered at home collect a sample from the news your blood tests.
          li.built-item 
            .built-item-img 
              img(data-core-lazy data-src=require('../../assets/images/feature1.jpg') src="", alt="item")
            .built-item-content 
              h4 App Development
              p Get your blood tests delivered at home collect a sample from the news your blood tests.
          li.built-item 
            .built-item-img 
              img(data-core-lazy data-src=require('../../assets/images/feature1.jpg') src="", alt="item")
            .built-item-content 
              h4 App Development
              p Get your blood tests delivered at home collect a sample from the news your blood tests.
        .btn See all
      .built-img 
        img(data-core-lazy data-src=require('../../assets/images/phone.png') src="", alt="built")