section.product-section
  .container 
    .products-wrap 
      h2.global-heading.small-heading.center 
        | unsere 
        span PRODUKTE
      ul.products-list 
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product1.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product2.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product3.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product1.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product2.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product3.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product1.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product2.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
        li.product-item
          .item-img 
            img(data-core-lazy data-src=require('../../assets/images/product3.png') src="", alt="product")
          .item-content 
            h3 mable
            p consetetur sadipscing elitr, sed diam nonumy consetetur sadipscing elitr, sed diam nonumy 
            .item-link 
              span zu Product
