section.popular 
  .container 
    h2.global-heading Most popular
    .card-wrap 
      div(class="card card-4")
        .card-img 
          img(data-core-lazy data-src=require('../../assets/images/popular.png') src="", alt="card")
          .card-shop 
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
        .card-content 
          .card-content-title Red Women Purses
          .card-content-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
          .card-content-price $35.00
      div(class="card card-4")
        .card-img 
          img(data-core-lazy data-src=require('../../assets/images/popular.png') src="", alt="card")
          .card-shop 
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
        .card-content 
          .card-content-title Red Women Purses
          .card-content-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
          .card-content-price $35.00
      div(class="card card-4")
        .card-img 
          img(data-core-lazy data-src=require('../../assets/images/popular.png') src="", alt="card")
          .card-shop 
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
        .card-content 
          .card-content-title Red Women Purses
          .card-content-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
          .card-content-price $35.00
      div(class="card card-4")
        .card-img 
          img(data-core-lazy data-src=require('../../assets/images/popular.png') src="", alt="card")
          .card-shop 
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
        .card-content 
          .card-content-title Red Women Purses
          .card-content-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
          .card-content-price $35.00
    .popular-info 
      .popular-info-item
        .info-img 
          img(data-core-lazy data-src=require('../../assets/images/icon.png') src="", alt="icon")
        .info-title Money back gurantee
        p great fill signs he evening
      .popular-info-item
        .info-img 
          img(data-core-lazy data-src=require('../../assets/images/icon.png') src="", alt="icon")
        .info-title Money back gurantee
        p great fill signs he evening
      .popular-info-item
        .info-img 
          img(data-core-lazy data-src=require('../../assets/images/icon.png') src="", alt="icon")
        .info-title Money back gurantee
        p great fill signs he evening
      .popular-info-item
        .info-img 
          img(data-core-lazy data-src=require('../../assets/images/icon.png') src="", alt="icon")
        .info-title Money back gurantee
        p great fill signs he evening
    