section.global-network
  .container 
    .h2-heading 
      h2 Huge Global Network of Fast VPN
      p See LaslesVPN everywhere to make it easier for you when you move locations.
    .global-img 
      img(data-core-lazy, data-src=require('../../assets/images/Huge Global.png'), src="", alt="avatar")
    .network-list
      .network-item 
        img(data-core-lazy, data-src=require('../../assets/images/Mask Group.png'), src="", alt="avatar")
      .network-item 
        img(data-core-lazy, data-src=require('../../assets/images/Mask Group 1.png'), src="", alt="avatar")
      .network-item 
        img(data-core-lazy, data-src=require('../../assets/images/Mask Group 4.png'), src="", alt="avatar")
      .network-item 
        img(data-core-lazy, data-src=require('../../assets/images/Mask Group 2.png'), src="", alt="avatar")
      .network-item 
        img(data-core-lazy, data-src=require('../../assets/images/Mask Group 3.png'), src="", alt="avatar")
