section.plan 
  .container 
    .h2-heading 
      h2 Choose Your Plan
      p Let's choose the package that is best for you and explore it happily and cheerfully.
    .plan-wrap 
      .plan-item 
        .plan-item-img 
          img(data-core-lazy, data-src=require('../../assets/images/Free.png'), src="", alt="avatar")
        .plan-item-content 
          .plan-content-top
            h4.plan-content-heading Free Plan 
            ul 
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Encrypted Connection
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
          .plan-bottom 
            h4 Free 
            .btn-ellipse Select
      .plan-item 
        .plan-item-img 
          img(data-core-lazy, data-src=require('../../assets/images/Free.png'), src="", alt="avatar")
        .plan-item-content 
          .plan-content-top
            h4.plan-content-heading  Free Plan 
            ul 
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Encrypted Connection
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
          .plan-bottom 
            h4 Free 
            .btn-ellipse Select
      .plan-item 
        .plan-item-img 
          img(data-core-lazy, data-src=require('../../assets/images/Free.png'), src="", alt="avatar")
        .plan-item-content 
          .plan-content-top
            h4.plan-content-heading  Free Plan
            ul 
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Encrypted Connection
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
              li
                img(data-core-lazy, data-src=require('../../assets/images/Group 1232.png'), src="", alt="avatar")
                p Unlimited Bandwitch
          .plan-bottom 
            h4 
              span $9 /
              span  mo 
            .btn-ellipse Select