section.service 
  .container 
    .global-heading 
      h2.heading Our Services 
      p We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health
    .service-list 
      .list-wrap 
        .list-item 
          .list-item-img 
            img(data-core-lazy data-src=require('../../assets/images/service1.png') src="", alt="service")
          .list-item-content 
            h3.content-top Search doctor
            .content-bottom Choose your doctor from thousands of specialist, general, and trusted hospitals
        .list-item 
          .list-item-img 
            img(data-core-lazy data-src=require('../../assets/images/service1.png') src="", alt="service")
          .list-item-content 
            h3.content-top Search doctor Search doctor
            .content-bottom Choose your doctor from thousands of specialist, general, and trusted hospitals
        .list-item 
          .list-item-img 
            img(data-core-lazy data-src=require('../../assets/images/service1.png') src="", alt="service")
          .list-item-content 
            h3.content-top Search doctor
            .content-bottom Choose your doctor from thousands of specialist, general, and trusted hospitals
        .list-item 
          .list-item-img 
            img(data-core-lazy data-src=require('../../assets/images/service1.png') src="", alt="service")
          .list-item-content 
            h3.content-top Search doctor
            .content-bottom Choose your doctor from thousands of specialist, general, and trusted hospitals
        .list-item 
          .list-item-img 
            img(data-core-lazy data-src=require('../../assets/images/service1.png') src="", alt="service")
          .list-item-content 
            h3.content-top Search doctor
            .content-bottom Choose your doctor from thousands of specialist, general, and trusted hospitals
        .list-item 
          .list-item-img 
            img(data-core-lazy data-src=require('../../assets/images/service1.png') src="", alt="service")
          .list-item-content 
            h3.content-top Search doctor
            .content-bottom Choose your doctor from thousands of specialist, general, and trusted hospitals
    .service-button 
      span(class="btn") Learn more